body{
    background-color: #eeeeee ;
}
.card{
    margin: 0px;
    margin-top: 30px;
}
.table{
    margin-left: 10px;
    margin-right: 20px;
    padding-right: 20px;
}
.tt{
    margin-right: 50px;
}
hr{
    color: black;
    size: 20px;
}